{% extends "base.html" %}
{% load static %}

{% block title %}Donut - Mini Delícias{% endblock %}

{% block extra_css %}

<style>

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}

.image-container {
    flex: 1;
    padding-right: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text-container {
    flex: 1;
    padding-left: 20px;
}

.text-container h2 {
    font-family: 'Poetsen One', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.text-container h2:hover {
    color: #FF6E0C;
    text-decoration: underline;
    transition: 0.5s;
}

.text-container p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.button {
      display: inline-block;
      padding: 10px 30px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color: white;
      background-color: #F20C90;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 20px; /* Espaço entre o mapa e o botão */
      text-decoration: none; /* Remover sublinhado */
  }
  
    .button:hover {
      background-color: #ff7c24;
      color: white;
  }
  
  .button:active {
      background-color: #004494;
  }
  
  .button-container {
      text-align: left; 
      margin-top: 20px; 
  }

  .button-back {
    color: black;
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
  }


  .menu-item:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.350);
    transform: translateY(-10px);
    transition: ease-in-out 0.3s;
  }

    .menu-item:not(:hover) {
        transform: translateX(10px);
        transition: ease-in-out 0.3s;
    }
    
.ingrediente {
    font-style: italic;
}

.ingrediente:hover{
    text-decoration: underline;
}
</style>

{% endblock %}


{% block content %}

<div class="button-container">
    <a href="{% url 'list_donut' %}" class="back-button">Voltar</a>
</div>

<div class="container section-title" data-aos="fade-up">
    <h2>Donut</h2>
    <p><span>Conheça nosso delicioso</span> <span class="description-title">Donut</span></p>

  </div><!-- End Section Title -->

<div class="detail-container">
    <div class="image-container">
        {% if object.foto %}
            <img src="{{ object.foto.url }}" class="menu-item" alt="Imagem">
        {% else %}
            <p>Foto não disponivel!</p>
        {% endif %}
    </div>
    <div class="text-container">
        <h2>Donut saboroso sabor {{ object.nome }}</h2>
        <p class="ingrediente">{{ object.ingredientes }}</p>
        <div class="button-container">
            <a href="https://wa.me/556592570407?text=Ol%C3%A1,%20gostaria%20de%20fazer%20um%20pedido." class="button" target="_blank" title="Clique aqui!">Faça seu pedido</a>
            <a href="{% url 'list_donut' %}" class="button-back">Voltar</a>
        </div>
    </div>
</div>

{% endblock %}