{% extends "base.html" %}
{% load static %}

{% block title %}Cardápio - Mini Delícias{% endblock %}

{% block extra_css %}

    <style>

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        .name-donut {
            font-weight: bold;
            font-style: italic;
        }

        .name-donut:hover {
            color: black;
            transition: 0.5s;
        }

        .menu-item:hover {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.350);
            transform: translateY(-10px);
            transition: ease-in-out 0.3s;
        }

        .menu-item:not(:hover) {
            transform: translateX(10px);
            transition: ease-in-out 0.3s;
        }
    </style>

{% endblock %}

{% block content %}
<section id="menu" class="menu section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Cardápio</h2>
      <p><span>Confira nossos deliciosos</span> <span class="description-title">Cake Donuts</span></p>

    </div><!-- End Section Title -->

    <div class="container">

      <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">

        <li class="nav-item">
          <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
            <h4><strong>Donuts</strong></h4>
          </a>
        </li><!-- End tab nav item -->
        
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
            <h4><strong>Centos</strong></h4>
          </a>
        </li><!-- End tab nav item -->

      </ul>

      <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

        <div class="tab-pane fade active show" id="menu-starters">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Doces</h3>
          </div>

          <div class="row gy-5">
            {% if donuts %}
              {% for donut in donuts %}
                {% if donut.tipo == 'D' %}
                    <div class="col-lg-4 menu-item">
                        <a href="{% url 'detail_donut' donut.pk %}">
                          {% if donut.foto %}
                            <img src="{{ donut.foto.url }}" class="menu-img img-fluid" alt="{{ donut.nome }} - {{ donut.tipo }}">
                          {% endif %}
                          <h4 class="name-donut">{{ donut.nome }}</h4>
                        </a>
                    </div><!-- Menu Item -->
                {% endif %}
              {% endfor %}
            {% else %}
              <p style="text-align: center;">Nenhum produto encontrado.</p>
            {% endif %}
          </div>
          
          <!-- Salgados -->

          <div class="tab-header text-center">
            <h3>Salgados</h3>
          </div>

          <div class="row gy-5">
            {% if donuts %}
              {% for donut in donuts %}
                {% if donut.tipo == 'S' %}
                  <div class="col-lg-4 menu-item">
                    <a href="{% url 'detail_donut' donut.pk %}">
                      {% if donut.foto %}
                        <img src="{{ donut.foto.url }}" class="menu-img img-fluid" alt="{{ donut.nome }} - {{ donut.tipo }}">
                      {% endif %}
                      <h4 class="name-donut">{{ donut.nome }}</h4>
                    </a>
                  </div><!-- Menu Item -->
                {% endif %}
              {% endfor %}
            {% else %}
              <p style="text-align: center;">Nenhum produto encontrado.</p>
            {% endif %}
          </div>
        </div><!-- End Starter Menu Content -->


        <div class="tab-pane fade" id="menu-breakfast">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Doces</h3>
          </div>

          <div class="row gy-5">
            {% if centos %}
              {% for cento in centos %}
                {% if cento.tipo == 'D' %}
                  <div class="col-lg-4 menu-item">
                    <a href="{% url 'detail_cento' cento.pk %}">
                      {% if cento.foto %}
                        <img src="{{ cento.foto.url }}" class="menu-img img-fluid" alt="{{ cento.nome }} - {{ cento.tipo }}">
                      {% endif %}
                      <h4 class="name-donut">{{ cento.nome }}</h4>
                    </a>
                  </div><!-- Menu Item -->
                {% endif %}
              {% endfor %}
            {% else %}
              <p style="text-align: center;">Nenhum produto encontrado.</p>
            {% endif %}
          </div>

          <!-- Salgados -->

          <div class="tab-header text-center">
            <h3>Salgados</h3>
          </div>

          <div class="row gy-5">
            {% if centos %}
              {% for cento in centos %}
                {% if cento.tipo == 'S' %}
                  <div class="col-lg-4 menu-item">
                    <a href="{% url 'detail_cento' cento.pk %}">
                      {% if cento.foto %}
                        <img src="{{ cento.foto.url }}" class="menu-img img-fluid" alt="{{ cento.nome }} - {{ cento.tipo }}">
                      {% endif %}
                      <h4 class="name-donut">{{ cento.nome }}</h4>
                    </a>
                  </div><!-- Menu Item -->
                {% endif %}
              {% endfor %}
            {% else %}
              <p style="text-align: center;">Nenhum produto encontrado.</p>
            {% endif %}
          </div>
        </div><!-- End Breakfast Menu Content -->
{% endblock %}