{% extends "base.html" %} 
{% load static %}

{% block title %}Contato{% endblock %}

{% block extra_css %}
<style>
    /* Estilos específicos para o formulário de contato */
    .form-container {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        background: #fff; /* Cor de fundo do container do formulário */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid black; /* Bordas dos inputs e textarea */
        border-radius: 5px;
        font-size: 16px;
        background-color: #fff; /* Fundo dos inputs e textarea */
    }

    .form-group textarea {
        resize: vertical;
        min-height: 150px;
    }

    .form-group input[type="submit"],
    .form-group button {
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        background-color: #F20C90; 
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .form-group input[type="submit"]:hover,
    .form-group button:hover {
        background-color: #FF6E0C; 
    }
</style>
{% endblock %}

{% block content %}

<section id="contact" class="contact">
    <div class="container">
        <div class="section-title">
            <h2>Entre em contato conosco e faça seu pedido</h2>
        </div>

        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Nome:</label>
                    {{ form.nome }}
                </div>

                <div class="form-group">
                    <label for="email">Telefone:</label>
                    {{ form.telefone }}
                </div>

                <div class="form-group">
                    <label for="phone">Email:</label>
                    {{ form.email }}
                </div>

                <div class="form-group">
                    <label for="subject">Assunto:</label>
                    {{ form.assunto }}
                </div>

                <div class="form-group">
                    <label for="message">Mensagem:</label>
                    {{ form.mensagem }}
                </div>

                <div class="form-group">
                    <input type="submit" value="Enviar" class="btn">
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}