{% extends "base.html" %}
{% load static %}

{% block title %}Contato - Mini Delícias{% endblock %}

{% block extra_css %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    /* Estilos Gerais */
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 0;
    }


    .description-title {
        color: #007BFF;
        font-weight: bold;
    }

    form {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    form p {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        color: #555;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 15px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.575);
    }

        
    textarea {
        resize: vertical;
        height: 150px;
    }

    button {
        display: block;
        width: 100%;
        padding: 12px;
        background-color: #F20C90;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #FF6E0C;
    }
</style>
{% endblock %}

{% block content %}
<div class="container section-title" data-aos="fade-up">
    <h2>Contato</h2>
    <p><span>Entre em contato e faça seu</span> <span class="description-title">pedido</span></p>
</div>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar Formulário</button>
</form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const telefoneInput = document.querySelector('input[name="numero"]');

        telefoneInput.addEventListener('input', function (e) {
            let input = e.target.value;
            input = input.replace(/\D/g, ''); // Remove tudo que não é dígito
            if (input.length > 11) input = input.slice(0, 11); // Limita o tamanho
            if (input.length > 6) {
                input = input.replace(/(\d{2})(\d{5})(\d{4})/, '($1) $2-$3'); // Formato (XX) XXXXX-XXXX
            } else if (input.length > 2) {
                input = input.replace(/(\d{2})(\d{0,4})/, '($1) $2'); // Formato (XX) XXXX
            } else {
                input = input.replace(/(\d{2})/, '($1'); // Formato (XX
            }
            e.target.value = input;
        });
    });
</script>
{% endblock %}
