{% extends "base.html" %}
{% load static %}

{% block title %}Home - Mini Delícias{% endblock %}

{% block extra_css %}

<style>
      @import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>

{% endblock %}

{% block content %}
    <section id="hero" class="hero section">
    
        <div class="container">
          <div class="row gy-4 justify-content-center justify-content-lg-between">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
              <h1 data-aos="fade-up"><br>Cake Donuts</h1>
              <p data-aos="fade-up" data-aos-delay="100" style="font-family: 'Poppins', sans-serif;">São macios, saborosos e ideais para lanches rápidos.</p>
              <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                <a href="https://wa.me/556592570407?text=Ol%C3%A1,%20gostaria%20de%20fazer%20um%20pedido.
                " target="_blank" class="btn-get-started" title="Clique aqui!">FAÇA SEU PEDIDO</a>
              </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
              <img src="{% static 'assets/img/donuts1.png' %}" class="img-fluid animated" alt="donuts1">
            </div>
          </div>
        </div>
    
    </section><!-- /Hero Section -->

{% endblock %}

