{% extends "base.html" %}
{% load static %}


{% block title %}Local - Mini Delícias{% endblock %}

{% block extra_css %}{% endblock %}

{% block content %}

<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Local</h2>
      <p><span>Local de retirada dos</span> <span class="description-title">Donuts</span></p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="mb-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3843.4249438077204!2d-56.03100152879046!3d-15.568928584357112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x939db07fe82fefed%3A0xebbff851d69889ef!2sR.%20Vila%20Bela%2C%20502-602%20-%20Dr.%20F%C3%A1bio%20Leite%2C%20Cuiab%C3%A1%20-%20MT%2C%2078052-010!5e0!3m2!1spt-BR!2sbr!4v1719446480143!5m2!1spt-BR!2sbr" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      </div><!-- End Google Maps -->

    </div>

  </section><!-- /Contact Section -->
{% endblock %}