@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins&display=swap');


main {
    margin: 0 60px;
}

main div.container {
    display: flex;

}


main div.text-container {
    color: black;
    text-align: left;
    height: 100px;
    width: 400px;
}


main, #h-delicia {
    font-size: 32px;
    font-family: 'Poetsen One', sans-serif;
}


