{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'estilos/base.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/mini_delicia.png' %}" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'list_donut' %}">Cardápio</a></li>
                <li><a href="{% url 'quem_somos' %}">Quem somos</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; Criado por <a href="https://www.linkedin.com/in/luiz-henrique-12938825b/" target="_blank">Luiz Henrique</a> 2024</p>
    </footer>
</body>
</html>